body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.dashboard-title {
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: black;
    margin-top: 0.5cm;
    margin-left: -23cm; 
}

.tulisantengah {
    font-weight: bold;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    color: black;
    margin-top: 6vh; 
}

.tulisantengah:hover {
    color: #0e690e;
}

.center-textt {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-left: -15cm;
}

.center-textt p {
    font-size: 22px;
    color: black;
}

/* Gaya untuk Selamat Datang dan Admin */
.center-textt p {
    font-size: 22px;
    color: black;
    margin-left: 578px;
}

.center-textt .admin-text {
    font-size: 22px;
    color: #28A745;
    font-weight: normal;
}

/* Gaya untuk tabel kolom Admin Kab Kota, DPS, dan Koperasi Syariah */
.table-container {
margin: 10px 2cm; 
margin-top: 1.5cm;
position: relative; 
}

/* Box biru */
.custom-box {
position: absolute;
top: -5px; 
left: -5px; 
width: calc(100% + 10px); 
height: 180px;
border: 3px solid #d3d3d3; 
box-sizing: border-box;
border-radius: 10px; 
}

/* Box merah */
.custom-table td:nth-child(1) .card:hover {
background: linear-gradient(to right, #ff7675, #e74c3c);
font-family: 'Poppins', sans-serif;
border: none; 
}

.custom-table td:nth-child(2) .card:hover {
background: linear-gradient(to right, #f9ca24, #f39c12);
font-family: 'Poppins', sans-serif;
border: none; 
}

/* Box hijau */
.custom-table td:nth-child(3) .card:hover {
background: linear-gradient(to right, #55efc4, #00b894);
font-family: 'Poppins', sans-serif;
border: none; 
}

.custom-table {
    width: 100%;
}

.custom-table th,
.custom-table td {
    padding: 8px;
    text-align: center;
    width: 33.33%; 
}

.custom-table th {
    background-color: #007bff;
    color: white;
}

.custom-table td {
    padding: 8px;
    text-align: center;
    width: 33.33%; 
}

.custom-table td .card {
    font-size: 18px;
    display: flex;
    font-family: 'Poppins', sans-serif;
    flex-direction: column;
    align-items: center;
}

.custom-table td .number {
    font-size: 30px; 
    font-weight: bold; 
}

.custom-table td .text {
    font-size: 18px; 
    font-family: 'Poppins', sans-serif;
}

.custom-table td .card-footer {
    margin-top: 5px; 
}