.body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .content {
    display: flex;
    font-family: 'Poppins', sans-serif;
  }
  
  .logo-box {
    width: 70%; 
    height: 200px;
    margin: 30px auto; 
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    text-align: center;
    position: relative;
  }
  
  .logo-box img {
    width: 100%;
    height: auto;
    max-width: 5cm; 
    max-height: 5cm; 
    border-radius: 5px;
    border: 2px solid #ddd;
  }   

  .main-box {
    width: 70%; 
    margin: 10px auto; 
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #fff;
  }
  
  
  .profile-box {
    margin-top: 3px;
  }
  
  .profile-title {
    margin-top: 3px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }
  
  .border-gray {
    height: 1px;
    background-color: #ddd;
    margin-bottom: 10px;
  }
  
  .profile-box h5 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .table-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px; 
  }
  
  .table-col {
    flex: 1;
    margin-right: 30px; 
  }
  
  .table-col label {
    display: block;
    margin-bottom: 5px;
  }
  
  .table-col div {
    width: 100%;
    padding: 5px; 
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .table-col div[type="date"] {
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: calc(100% - 2px);
  }
  
  .table-col.full-width {
    flex: 2;
  }
  
  .table-col select {
    width: 100%;
    padding: 5px; 
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  
  .table-col div[type="password"] {
    width: 50%;
    padding: 5px; 
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 5px;
  }