.dashboard-title {
  font-size: 20px; 
  font-family: 'Poppins', sans-serif;
  margin-left: 120px; 
  margin-top: -30px;
  color: #147167;
}

    body {
      font-family: 'Poppins', sans-serif;
      margin: 0;
      padding: 0;
    }

    .dashboard-subtitle {
      font-size: 16px; 
      margin-top: 5px; 
      font-family: 'Poppins', sans-serif;
      color: black;
    }

    .dashboard-subtitle strong {
      font-weight: bold;
      font-family: 'Poppins', sans-serif;
    }

    .dashboard-box {
        background-color: #ffffff; 
        font-family: 'Poppins', sans-serif;
        padding: 20px;
        margin-top: 10px; 
        margin-left: 255px;
        margin-right: 2cm;
        border: 1px solid rgba(128, 128, 128, 0.3); 
        height: 545px; 
    }

    .dashboard-box h2 {
      font-size: 18px;
      font-family: 'Poppins', sans-serif;
      color: #07170b; 
      margin-bottom: 10px;
    }

    .d-flex-buttons {
        justify-content: end;
        font-family: 'Poppins', sans-serif;
        margin-top: 10px; 
        margin-right: 100px;
      }

      .btn-reject {
        margin-right: 0.5rem; 
        font-family: 'Poppins', sans-serif;
    }