.dashboard-title {
    font-size: 20px;
    margin-left: 120px;
}

body {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    border-color: rgb(255, 255, 255);
    background-color: #28a745;
}

.navbar-brand,
.navbar-nav .nav-link {
    color: white;
}

.navbar-brand img {
    margin-right: 10px;
    max-height: 45px;
}
.center-text {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 75px;
}

.center-text img {
    max-height: 35px;
    margin-right: 10px;
}

.center-text h2 {
    font-size: 16px;
    color: black;
    margin-top: 0;
    margin-bottom: 5px;
    text-align: left;
}
.dashboard-title {
    font-size: 8px;
    margin-left: 120px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.dashboard-title h4 {
    font-size: 20px;
    margin: 0 0 10px 0;
}

.dashboard-subtitle {
    font-size: 16px;
    margin-top: 5px;
}

.dashboard-subtitle strong {
    font-weight: bold;
}

.dashboard-box {
    background-color: #ffffff;
    padding: 20px;
    margin-top: 10px;
    margin-left: 255px;
    margin-right: 2cm;
    border: 1px solid rgba(128, 128, 128, 0.3);
    height: 545px;
}

.dashboard-box h2 {
    font-size: 18px;
    color: #07170b;
    margin-bottom: 10px;
}

.additional-info {
    margin-top: 3cm;
}

.comment-info {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 3px;
}

.comment-name {
    font-weight: bold;
    margin: 5px 0;
}

.comment-date {
    margin: 0;
}

.comment-content {
    margin: 5px 0;
}

.comment-divider {
    border: 1px solid #d3d3d3;
    margin: 10px 0;
}

.user-comment-column {
    background-color: #ffffff;
    padding: 20px;
    margin-top: 10px;
    margin-left: 255px;
    margin-right: 2cm;
    border: 1px solid rgba(128, 128, 128, 0.3);
    height: 545px;
}

.dashboard-box {
    padding: 20px;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    max-height: 460px;
    overflow: auto;
}

.h2 {
    text-align: center;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
.comment-column {
    display: flex;
    justify-content: space-between;
}

.box-coment {
    width: 48%;
    float: left;
    padding: 10px;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    background-color: #f8f9fa;
}

.p {
    font-weight: bold;
    margin-bottom: 5px;
}

.p-child {
    margin: 0;
}

.coment-column2 {
    width: 48%;
    float: right;
    padding: 10px;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    background-color: #f8f9fa;
}

.coment-column3 {
    width: 100%;
    float: left;
    padding: 10px;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    background-color: #f8f9fa;
    margin-top: 20px;
}

.coment-column4 {
    width: 100%;
    float: left;
    padding: 10px;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    background-color: #f8f9fa;
    margin-top: 20px;
}

.coment-column5 {
    width: 100%;
    float: left;
    padding: 10px;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    background-color: #f8f9fa;
    margin-top: 20px;
}

.user-comment-column {
    padding: 20px;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    max-height: 200px;
    overflow: auto;
}

.comment-box {
    width: 100%;
    display: flex;
    align-items: center;
    float: left;
    padding: 0px;
    margin-bottom: 20px;
}

.comment-box textarea {
    width: 100%;
    height: 50px;
    padding: 10px;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    margin-right: 10px;
    resize: none;
}

.comment-box img {
    cursor: pointer;
    margin-top: 5px;
}

hr {
    border: 1px solid #d3d3d3;
    margin: 10px 0;
}

.comment-info p {
    font-size: 14px;
    font-weight: bold;
    margin: 5px 0;
}

.comment-info p span {
    font-size: 13px;
}
