body {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
}

.content {
    display: flex;
}

.main-box {
    flex: 1;
    margin: 30px 200px 8px 200px; /* Menambahkan margin atas dan bawah */
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #fff;
}

/* Tambahkan gaya CSS di sini */

.profile-box {
    margin-top: 3px;
}

.profile-title {
    margin-top: 3px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.border-gray {
    height: 1px;
    background-color: #ddd;
    margin-bottom: 10px;
}

.profile-box h5 {
    font-size: 18px;
    margin-bottom: 10px;
}

.table-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.table-col {
    flex: 1;
    margin-right: 10px;
}

.table-col label {
    display: block;
    margin-bottom: 5px;
}

.table-col input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.table-col.full-width {
    flex: 2; /* Kolom yang mengisi 2 dari 3 bagian lebar */
}

.table-col.full-width input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* Styling for the file input wrapper */
.file-input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.upload-button {
    width: 100px;
    height: 42px;
    background-color: #147167;
    color: #fff;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.upload-button:hover {
    background-color: #0d5049; /* Warna hijau saat tombol dihover */
}

.file-input-wrapper input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.file-input-wrapper input[type="text"] {
    width: calc(100% - 80px); /* Adjust the width accordingly */
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    outline: none;
}

/* Gaya tombol Simpan */
.save-button {
    background-color: #147167; /* Warna hijau */
    margin-top: 20px;
    color: #fff; /* Warna teks putih */
    padding: 10px 20px; /* Padding tombol */
    border: none; /* Tanpa border */
    border-radius: 5px; /* Sudut melengkung */
    cursor: pointer; /* Pointer cursor saat dihover */
    font-size: 16px; /* Ukuran teks tombol */
}

.save-button:hover {
    background-color: #0d5049; /* Warna hijau saat tombol dihover */
}

/* Menambahkan style text-right */
.text-right {
    text-align: right;
}
