body {
    font-family: 'Poppins', sans-serif;
    background: #FAFAFA;
    margin: 0;
    padding: 0;
}

.center-text {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 115px;
}

.center-text img {
    max-height: 60px;
    margin-right: 10px;
}

.center-text h2 {
    font-size: 20px;
    color: black;
    margin-top: 0;
    margin-bottom: 5px;
    text-align: left;
}

.square-box {
    width: 12cm;
    height: 8cm;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: -90px;
    padding: 20px; 
    box-sizing: border-box;
}

.box-text {
    text-align: left;
    margin: 25px;
}

.box-text p:first-child {
    font-size: 20px;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin-top: -20px;
    margin-bottom: 2px;
    text-align: left;
}

.box-text p.small-text {
    font-size: 12px;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: semi-bold;
    text-align: left;
}

.input-with-icon {
    position: relative;
    display: flex;
    align-items: center;
}

.input-with-icon input {
    padding-left: 10px;
    width: 100%;
    box-sizing: border-box;
}

.input-with-icon img {
    max-width: 37px;
    max-height: 37px;
}

.form-group {
    margin-top: -25px;
    margin-bottom: 35px;
    margin-left: auto;
    margin-right: auto;
}

.form-group.input-with-icon {
    margin-bottom: 35px;
}

.form-control {
    width: 80%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 5px;
    font-family: 'Poppins', sans-serif;
}

.btn-login {
    background-color: #28A745;
    color: white;
    border: none;
    padding: 7px 120px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #ccc;
}

.toggle-password.inactive {
    color: #ccc;
}

.small-text a {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: -15px;
}

.small-text a#lupa {
    color: black;
    text-decoration: none;
}

.small-text a#lupa:hover {
    text-decoration: underline;
}