    .dashboard-title {
        font-size: 20px; 
        margin-left: 120px;
        font-family: 'Poppins', sans-serif;
    }

    body {
      font-family: 'Poppins', sans-serif;
      margin: 0;
      padding: 0;
    }

     /* Style untuk tabel */
    table {
    border-collapse: collapse;
    font-family: 'Poppins', sans-serif;
    width: 80%; /* Sesuaikan dengan lebar yang diinginkan */
    margin: 5px; /* Sesuaikan dengan margin yang diinginkan */
    border-radius: 8px; /* Menambahkan sudut melengkung pada tabel */
    overflow: hidden; /* Memastikan border-radius bekerja dengan baik */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Efek bayangan pada tabel */
    }

    /* Style untuk sel header */
    th, td {
    border: 1px solid #ddd; /* Garis batas untuk sel */
    padding: 10px; /* Sesuaikan dengan padding yang diinginkan */
    font-family: 'Poppins', sans-serif;
    text-align: left;
    }

    th:first-child,
    td:first-child {
        width: 20px; /* Sesuaikan dengan lebar yang diinginkan */
    }

    /* Style untuk baris genap */
    tr:nth-child(even) {
        background-color: #f2f2f2; /* Warna latar belakang untuk baris genap */
    }

    /* Hover efek untuk baris */
    tr:hover {
        background-color: #e0e0e0; /* Warna latar belakang saat dihover */
    }

    /*POP UP NIHHHHH */ 
        .popup-container {
        display: none;
        font-family: 'Poppins', sans-serif;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        z-index: 2;
    }

    .overlay {
        display: none;
        font-family: 'Poppins', sans-serif;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 1;
    }

    .close-icon {
        position: absolute;
        top: 15px;
        right: 25px;
        cursor: pointer;
    }

    .popup-title {
        font-weight: 600;
        font-size: 18px;
        font-family: 'Poppins', sans-serif;
        margin-bottom: 15px;
    }

    .popup-content {
      width: 400px; /* Sesuaikan dengan lebar yang diinginkan */
        max-width: 80%; /* Maksimum lebar 80% dari layar */
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        margin: 20px auto;  /* Center the content horizontally */
        display: flex;
        flex-direction: column;
    }

    

    .tambah-admin{
    font-weight: normal;
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;
    background-color: green; /* Tambahkan properti warna hijau di sini */
    color: white;
    border: none;
    padding: 7px 16px;
    font-size: 14px;
    border-radius: 8px;
    }
    
    label {
        display: block;
        margin-bottom: 5px;
    }
    
    .custom-select {
        position: relative;
        width: 100%;
    }
    
    .selected-option {
        display: inline-block;
    background-color: #ffffff;
    cursor: pointer;
    width: 287px; /* Sesuaikan dengan lebar yang diinginkan */
    }
    
    .options {
        display: none;
        position: absolute;
        font-family: 'Poppins', sans-serif;
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
        max-height: 70px;
        overflow-y: auto;
        border: 1px solid #ffffff;
        top: 0;
        left: 0;
        background-color: #fff; /* Menetapkan warna latar belakang menjadi putih */
    }
    
    .options li {
        padding: 10px;
        cursor: pointer;
    }
    
    .options li:hover {
        background-color: #f3f3f3;
    }
    

    .btn-container {
    display: flex;
    justify-content: flex-end; /* Memindahkan tombol ke kanan */
    font-family: 'Poppins', sans-serif;
    }
    
    .btn-container button {
        font-size: 14px; /* Sesuaikan dengan ukuran font yang diinginkan */
        padding: 5px 14px; /* Sesuaikan dengan padding yang diinginkan (atas bawah, kanan kiri) */
    }

    .btn-container .btn-batal {
        margin-right: 16px; /* Sesuaikan dengan jarak yang diinginkan antara tombol "Batal" dan "Tambah" */
        font-size: 14px; /* Sesuaikan dengan ukuran font yang diinginkan */
    padding: 5px 25px; /* Sesuaikan dengan padding yang diinginkan (atas bawah, kanan kiri) */
    }

    .form-group {
        margin-bottom: 8px; /* Sesuaikan dengan jarak yang diinginkan antar form groups */
        font-family: 'Poppins', sans-serif;
    }
    
    .form-group label {
        width: 120px;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 5px;
    font-weight: bold;  /* Jarak antara label dan input field */
    }
    
    .input-fields {
        width: calc(100% - 120px); 
        display: inline-block;/* Sesuaikan dengan lebar input fields yang diinginkan */
    }
    
    .input-fields input[type="text"],
    .input-fields input[type="password"] {
    width: 160%; /* Sesuaikan dengan lebar yang diinginkan, bisa dalam persentase atau nilai lainnya */
    padding: 7px;
    font-size: 16px;
    box-sizing: border-box;
    margin-bottom: 10px;
    }

    .success-popup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    z-index: 3; /* Pastikan z-index lebih tinggi dari popup utama */
    width: 400px; /* Sesuaikan dengan lebar yang diinginkan */
    }

    .success-popup-title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
    }

    .success-popup-content {
    text-align: center;
    }

    .success-popup-container button {
    margin-top: 10px;
    font-size: 14px;
    padding: 5px 14px;
    }

    #overlay, #popupContainer, #successPopup, #formTambahAdminContainer, #confirmationPopup {
    display: none;
    }

    .confirmation-popup-container {
    display: none;
    font-family: 'Poppins', sans-serif;
    }

    .confirmation-popup-card {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    max-width: 400px; /* Sesuaikan dengan lebar kartu yang diinginkan */
    margin: auto;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    }

    .confirmation-popup-content {
        padding: 20px;
    }

    .confirmation-popup-title {
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 10px;
    }

    .confirmation-popup-content p {
        margin-bottom: 15px;
    }

    .btn-container {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .btn-container button {
        font-size: 14px;
        padding: 5px 14px;
        margin: 0 10px;
        margin-left: 10px; /* Sesuaikan dengan jarak yang diinginkan antara tombol "Batal" dan "Hapus" */
    }

    .btn-batal-hapus, .btn-success-hapus {
        font-size: 14px;
        padding: 5px 14px;
        cursor: pointer;
        border-radius: 8px; /* Sesuaikan dengan tingkat lengkungan yang diinginkan */
        border: none;
    }

    .btn-batal-hapus {
        background-color: #6c757d; /* Warna background untuk tombol Batal */
        color: #000000; /* Warna teks untuk tombol Batal */
    }

    .btn-success-hapus {
        background-color: #dc3545; /* Warna background untuk tombol Hapus */
        color: #fff; /* Warna teks untuk tombol Hapus */
    }

