    /* styles.css */

    body {
        margin: 0;
        padding: 0;
        font-family: 'Poppins', sans-serif;
    }

    .navbar1{
        justify-content: space-between;
        display: flex;
        align-items: center;
    }

    .navbar {
        display: flex;
        align-items: center;
        background-color: #28A745;
        font-family: 'Poppins', sans-serif;
        color: #f4f4f4;
        padding: 10px;
        z-index: 2;
        transition: margin-left 0.3s, background-color 0.3s; 
        
    }


    .navbar-shifted .navbar-brand {
        background-color: #28A745;
    }

    .navbar img {
        width: 50px;
        height: auto;
        margin-right: 10px;
        margin-left: 24px;
    }

    .brand-text {
        display: flex;
        flex-direction: column;
    }

    .brand-text p {
        margin: 0;
        font-size: 14px;
    }

    .sidebar {
        width: 0;
        height: 90%;
        background-color: #343A40;
        font-family: 'Poppins', sans-serif;
        margin-top: 70px;
        position: fixed;
        overflow: hidden;
        transition: width 0.3s, background-color 0.3s; 
    }

    .sidebar-header {
        background-color: #465A5E;
        padding: 16.7px;
        text-align: left;
        display: flex;
        align-items: center;
    }

    .sidebar-header img {
        width: 40px; 
        height: 40px; 
        border-radius: 50%; 
        margin-right: 10px; 
    }

    .sidebar-header p {
        margin: 0;
        font-size: 20px;
        color: #FFFFFF;
    }

    .sidebar ul {
        list-style-type: none;
        padding: 0;
    }

    .sidebar li {
        padding: 3px;
    }

    .sidebar a {
        text-decoration: none;
        color: #FFFFFF;
        display: block;
        padding: 20px;
        border-radius: 5px;
        transition: background-color 0.3s, padding 0.3s; 
    }

    .sidebar a:hover {
        color: #FFFFFF;
        font-weight: bold;
        transition: background-color 0.3s, color 0.3s, padding 0.3s; 
    }

    .sidebar.collapsed {
        width: 200px;
    }

    .navbar,
    .sidebar {
        z-index: 1; /* Nilai sesuai kebutuhan */
    }

    .sidebar ul {
        list-style-type: none;
        padding: 0;
    }

    .sidebar li {
        margin-bottom: 1px;
        font-size: 12px;
    }

    .center-text {
        text-align: center;
    }

    .center-text p {
        margin-top: 20px;
        text-align: center;
        font-family: 'Poppins',sans-serif;
        color: white;
        font-weight: bold;
        
    }

    .parent-menu {
        position: relative;
    }

    .sidebar.collapsed .sidebar-header.collapsed {
        background-color: #465A5E; 
    }

    #toggleSidebar {
        background: none;
        float: left;
        border: none;
        cursor: pointer;
        font-size: 20px;
        color: #fff;
        margin-right: 10px; 
    }

    .sidebar.collapsed #toggleSidebar {
        margin-right: 5px; 
    }


    .content {
        padding: 20px;
        margin-left: 0;
        transition: margin-left 0.3s, padding 0.3s; 
    }

    body.body-shifted .content {
        margin-left: 200px;
        padding-left: 20px; 
        transition: margin-left 0.3s, padding-left 0.3s; 
    }

    .submenu {
        padding: 20px;
        margin-left: 15px;
        display: none;
    }

    .submenu.show {
        display: block;
    }
    
    .sidebar-sub-header{
        text-align: center;
        color: white;
        font-size: 18px;
        font-weight: bold;
        margin-top:16px;
    }

    .parent-menu .arrow {
        float: right; 
        margin-left: 10px; 
    }

    .submenu .arrow {
        transform: rotate(90deg);
        margin-left: 10px; 
        transition: transform 0.3s, margin-left 0.3s; 
    }

    .submenu.active .arrow {
        transform: rotate(-90deg);
        margin-left: 10px; 
        transition: transform 0.3s, margin-left 0.3s; 
    }

    .sidebar.collapsed a {
        padding: 6px; 
    }

    .logout{
        font-size: 12px;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%; 
        text-align: left; 
        padding: 10px; 
        border-top: 1px solid #555; 
    }

    .menu-item {
        display: flex;
        align-items: center;
        cursor: pointer; 
    }

    .menu-item img {
        width: 16px;
        height: 16px; 
        margin-right: 10px; 
    }

    .menu-item a {
        text-decoration: none;
        color: #FFFFFF;
        padding: 10px;
        border-radius: 10px;
        transition: background-color 0.3s, color 0.3s, padding 0.3s;
    }

    .menu-item:hover {
        background-color: #007BFF;
        border-radius: 8px;
        color: #FFFFFF;
        font-weight: bold;
        transition: background-color 0.3s, color 0.3s, padding 0.3s;
    }

    .logout a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #FFFFFF;
        padding: 10px;
        transition: background-color 0.3s, color 0.3s, padding 0.3s;
    }

    .logout a:hover {
        background-color: #007BFF;
        color: #FFFFFF;
        font-weight: bold;
        transition: background-color 0.3s, color 0.3s, padding 0.3s;
    }

    .logout img {
        width: 20px; 
        height: auto;
        margin-right: 5px; 
    }

    /* halaman login */
    .navbar-menu {
        display: flex;
        align-items: center;
        margin-left: 700px;
        float: left;
        overflow: hidden;
    }

    .navbar-menu img {
        margin-right: auto;
        
    }

    .profile-container{
        display: flex;
        align-items: center;
        position: relative;
        
    }

    .profile-dropdown {
        display: none;
        position: absolute;
        left: 1200px;
        top: 100%; /* Adjust the top position accordingly */
        right: 20px;
        align-items: center;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        z-index: 1;
        border-radius:  0 0 5px 5px;
    }
    
    .profile-item {
        display: flex;
        float: none;
        align-self: center;
        padding: 10px;
        text-align: left;
        text-decoration: none;
        color: #333;

    }
    .profile-item:hover {
        background-color: #ddd;
        color: black;
    }

    .profile-item img {
        width: 24px;
        height: 24px;
        margin-right: 8px;
        
    }

    /* Show the dropdown when arrow is clicked */
    .navbar-menu .profile-info:hover .profile-dropdown,
    .navbar-menu .profile-dropdown:hover {
        display: block;
    }