.dashboard-title  {
    font-family: 'Poppins', sans-serif;
    margin-top: -40px;
    font-size: 20px;
    color: #147167;
  }
  
  .dashboard-subtitle  {
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    font-size: 15px;
    color: black;
  }

  body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    }

  .box-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 20px;
  }

  .box {
    width: calc(27% - 16px); 
    height: 250px;
    margin: -20px 30px 30px 10px;
    position: relative;
    overflow: hidden; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s ease-in-out;
    border-radius: 10px; 
  }

  .box:hover {
    transform: scale(1.05); 
  }

  .box img {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%; 
    height: 60%; 
    object-fit: cover;
    max-width: 100%;
  }

  .box .details {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    align-items: flex-start; 
    padding: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.8) 0%, transparent 100%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  .box .details h5 {
    margin: 0;
    font-weight: bold;
    background-color: #fff;
    z-index: 1;
    color: #333;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 10px; 
  }
  
  .detail-button {
    display: block;
    background: linear-gradient(to top, #147167 0%, #147167 100%);
    color: white;
    padding: 5px 16px;
    margin-left: auto;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s ease-in-out;
  }
  
  .detail-button:hover {
    background: linear-gradient(to top, #147167 0%, #147167 100%);
  }